<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il nostro primo layout</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container flex">
                <div class="logo">
                    <img src="img/navbar-logo.svg" alt="logo start bootstrap">
                </div>
                <nav>
                    <ul>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-main">
            <div class="subtitle">Welcome to our Studio!</div>
            <div class="title">It's nice to meet you</div>
            <button>Tell me more</button>
        </div>
    </header>

    <main>
        <section id="services" class="padding-top-bottom">
            <div class="container">
                <h2>SERVICES</h2>
                <p class="descrizione">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                </p>
                <div class="services">
                    <div class="box-service"> 
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <p class="title-service">E-commerce</p>
                        <p class="desc-service">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                       </p>
                    </div>
                    <div class="box-service"> 
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <p class="title-service">E-commerce</p>
                        <p class="desc-service">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                    </div>
                    <div class="box-service"> 
                        <div class="icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <p class="title-service">E-commerce</p>
                        <p class="desc-service">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section id="portfolio" class="padding-top-bottom">
            <div class="container">
                <h2>Portfolio</h2>
                <p class="descrizione">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="portfolio flex">
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>  
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>
                    <div class="box-portfolio">
                        <div class="portfolio-img">
                            <img src="img/1.jpg" alt="portfolio 1">
                            <div class="layover">
                                <span><i class="fa solid fa plus"></i></span>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3>Threads</h3>
                            <span>Illustration</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about"></section>
        <section id="team"></section>
        <section id="contact"></section>
    </main>

    <footer></footer>
    
</body>
</html>