.container {
    width: 1080px;
    background-color: lightcoral;
    text-align: center;
    margin: 10px auto;
} 

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}