.relative {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    top: 200px;
}

.absolute {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;

}